@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #242728;
  line-height: 1.2rem;
}

p {
  margin-bottom: 1.64rem;
}

a {
  color: #8D288F;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  vertical-align: top;
}

strong {
  font-weight: 700;
  color: #00A94F;
  font-size: 18px;
}

.max-width {
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
}

.code {
  font-family: monospace;
  display: inline-block;
  font-size: 14px;
  background: #eee;
  padding: 5px 8px;
  border-radius: 5px;
  margin: 5px 10px 5px 0;
}
.code--pink {
  color: #DD2131;
}
.code--purple {
  color: #8D288F;
}
.code--blue {
  color: #00ABE6;
}
.code--dim {
  font-size: 16px;
  color: #999;
}
.code--black {
  color: black;
}
.code--button {
  font-size: 16px;
  cursor: pointer;
}
.code--font-family {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 1.64rem;
  color: #8D288F;
  overflow: auto;
}
.code--active-color {
  background: none;
  color: #00ABE6;
  font-size: inherit;
}

.description {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #242728;
  margin: 0 auto 40px;
  max-width: 800px;
}

.heading__primary {
  color: #DD2131;
  background: -webkit-linear-gradient(180deg, #8D288F, #DD2131);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Fredoka One';
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 20px;
  display: inline-block;
}
.heading__secondary {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.heading__secondary div {
  display: inline-block;
}
.heading__secondary div:first-letter {
  text-decoration: underline;
}
.heading__tertiary {
  color: white;
  font-weight: 400;
  font-size: 26px;
}
.heading__tertiary code {
  color: #00ABE6;
}
.heading__quaternary {
  color: #00A94F;
  font-family: "Fredoka One";
  font-size: 24px;
  letter-spacing: .05rem;
  margin: 0 0 20px;
}

.toggle-nav a {
  color: black;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 700;
  line-height: 2em;
}
.toggle-nav a:hover {
  color: #00ABE6;
  cursor: pointer;
}
.toggle-nav a.active {
  color: white;
  background: #8D288F;
}

.site-header {
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

.site-footer {
  background: #00A94F;
  color: white;
  padding: 20px;
  text-align: center;
  line-height: 1.4rem;
}
.site-footer a {
  color: white;
}

.content-section {
  padding-bottom: 40px;
  overflow: auto;
}
.content-section__header {
  background: #242728;
  margin-bottom: 20px;
}
.content-section__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.content-section__table:last-child {
  margin-bottom: 0;
}
.content-section__table table {
  width: 100%;
}
.content-section__table thead {
  background-color: #00ABE6;
  color: white;
  letter-spacing: .1rem;
}
.content-section__table tbody tr:hover {
  background-color: #eee;
}
.content-section__table th {
  padding: 20px 10px 10px;
}
.content-section__table tr {
  border-bottom: 1px solid #00ABE6;
}
.content-section__table tr tr {
  border-bottom: none;
}
.content-section__table td {
  padding: 10px;
}
.content-section__table td[colspan="2"] {
  padding: 0;
}

.code-list {
  text-align: center;
  padding: 20px;
}

.card {
  box-sizing: border-box;
  border: 1px solid #8D288F;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  clear: right;
}
@media (min-width: 700px) {
  .card {
    width: calc(50% - 20px);
    float: left;
  }
  .card:nth-child(odd) {
    margin-right: 20px;
  }
}
.card__heading {
  font-size: 24px;
  color: #00A94F;
  margin-bottom: 20px;
}
.card__sample {
  line-height: 1.4rem;
  margin-bottom: 20px;
  height: 100px;
}
.card h4 {
  text-align: left;
  font-weight: 700;
}

dl {
  text-align: left;
}

dt {
  color: #00ABE6;
  font-weight: bold;
  margin: 0 20px 20px 0;
}

dd {
  display: block;
  margin: 0 0 40px 20px;
}
dd:last-child {
  margin-bottom: 0;
}
